In [25]:
%load_ext autoreload
%autoreload 2
import pandas as pd
from extract import get_data_from_api
from transform import transform_json_to_df

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
data_initial  = pd.read_json('../data/raw/response_1705977904263.json')

(2016, 8)

,product,price,link,years,kilometraje,locations,vehicle_make,vehicle_line
0,Bmw X3 2.0 F25 Xdrive20d Executive,96000000,https://carro.mercadolibre.com.co/MCO-13841684...,2015,18.500 Km,Usaquén - Bogotá D.C.,Bmw,X3
1,Bmw X3 3.0 F25 Xdrive30d,126000000,https://carro.mercadolibre.com.co/MCO-13841918...,2017,14.000 Km,Usaquén - Bogotá D.C.,Bmw,X3
2,Kia Carens 2.0 Rondo Ex,45000000,https://carro.mercadolibre.com.co/MCO-13841794...,2012,120.286 Km,Suba - Bogotá D.C.,Kia,Carens
3,Nissan Kicks 1.6 Exclusive,74000000,https://carro.mercadolibre.com.co/MCO-21689481...,2018,60.658 Km,Chapinero - Bogotá D.C.,Nissan,Kicks
4,Audi Q5 2.0 Tdi Quattro Ambition,230000000,https://carro.mercadolibre.com.co/MCO-13841910...,2022,5.481 Km,Usaquén - Bogotá D.C.,Audi,Q5

In [26]:

data_initial = transform_json_to_df(data_initial)
print(data_initial.shape)
data_initial.head()

(2016, 9)

,product,price,link,years,kilometraje,locations,vehicle_make,vehicle_line,id
0,Bmw X3 2.0 F25 Xdrive20d Executive,96000000,https://carro.mercadolibre.com.co/MCO-13841684...,2015,18.500 Km,Usaquén - Bogotá D.C.,Bmw,X3,1384168441
1,Bmw X3 3.0 F25 Xdrive30d,126000000,https://carro.mercadolibre.com.co/MCO-13841918...,2017,14.000 Km,Usaquén - Bogotá D.C.,Bmw,X3,1384191887
2,Kia Carens 2.0 Rondo Ex,45000000,https://carro.mercadolibre.com.co/MCO-13841794...,2012,120.286 Km,Suba - Bogotá D.C.,Kia,Carens,1384179429
3,Nissan Kicks 1.6 Exclusive,74000000,https://carro.mercadolibre.com.co/MCO-21689481...,2018,60.658 Km,Chapinero - Bogotá D.C.,Nissan,Kicks,2168948126
4,Audi Q5 2.0 Tdi Quattro Ambition,230000000,https://carro.mercadolibre.com.co/MCO-13841910...,2022,5.481 Km,Usaquén - Bogotá D.C.,Audi,Q5,1384191031

In [5]:
new_data = get_data_from_api()

In [27]:
new_data = transform_json_to_df(new_data)

In [28]:
final_data = pd.concat([data_initial,new_data])

In [29]:
final_data.drop_duplicates(subset='link')

,product,price,link,years,kilometraje,locations,vehicle_make,vehicle_line,id
0,Bmw X3 2.0 F25 Xdrive20d Executive,96000000,https://carro.mercadolibre.com.co/MCO-13841684...,2015,18.500 Km,Usaquén - Bogotá D.C.,Bmw,X3,1384168441
1,Bmw X3 3.0 F25 Xdrive30d,126000000,https://carro.mercadolibre.com.co/MCO-13841918...,2017,14.000 Km,Usaquén - Bogotá D.C.,Bmw,X3,1384191887
2,Kia Carens 2.0 Rondo Ex,45000000,https://carro.mercadolibre.com.co/MCO-13841794...,2012,120.286 Km,Suba - Bogotá D.C.,Kia,Carens,1384179429
3,Nissan Kicks 1.6 Exclusive,74000000,https://carro.mercadolibre.com.co/MCO-21689481...,2018,60.658 Km,Chapinero - Bogotá D.C.,Nissan,Kicks,2168948126
4,Audi Q5 2.0 Tdi Quattro Ambition,230000000,https://carro.mercadolibre.com.co/MCO-13841910...,2022,5.481 Km,Usaquén - Bogotá D.C.,Audi,Q5,1384191031
...,...,...,...,...,...,...,...,...,...
2011,Toyota 4runner 4.0 Sr5 Fl,238500000,https://carro.mercadolibre.com.co/MCO-21455586...,2023,2.286 Km,Suba - Bogotá D.C.,Toyota,4runner,2145558606
2012,Chevrolet Onix 1.4 Ltz 5 P,46500000,https://carro.mercadolibre.com.co/MCO-21262179...,2020,58.000 Km,Suba - Bogotá D.C.,Chevrolet,Onix,2126217998
2013,Nissan Navara 2.5 High Lujo,102000000,https://carro.mercadolibre.com.co/MCO-13772457...,2015,103.824 Km,Engativa - Bogotá D.C.,Nissan,Navara,1377245795
2014,Dodge Journey 2.4 Se/express Fl,54990000,https://carro.mercadolibre.com.co/MCO-21596876...,2018,60.000 Km,Chapinero - Bogotá D.C.,Dodge,Journey,2159687620
2015,Toyota Hilux 2.7 Imv 4x2,92000000,https://carro.mercadolibre.com.co/MCO-21339430...,2013,120.500 Km,Suba - Bogotá D.C.,Toyota,Hilux,2133943042

In [31]:
final_data['id'].value_counts()

id
2149664676    3
2140967404    3
2122810792    3
2159685858    3
1380463563    2
             ..
2126261460    1
1380528271    1
2132934926    1
2168943126    1
2170563336    1
Name: count, Length: 2118, dtype: int64

In [33]:
final_data[final_data['id']=='2149664676']

,product,price,link,years,kilometraje,locations,vehicle_make,vehicle_line,id
379,Jeep Grand Cherokee 3.6 Laredo,98000000,https://carro.mercadolibre.com.co/MCO-21496646...,2014,72.000 Km,Medellín - Antioquia,Jeep,Grand,2149664676
431,Jeep Grand Cherokee 3.6 Laredo,98000000,https://carro.mercadolibre.com.co/MCO-21496646...,2014,72.000 Km,Medellín - Antioquia,Jeep,Grand,2149664676
432,Jeep Grand Cherokee 3.6 Laredo,98000000,https://carro.mercadolibre.com.co/MCO-21496646...,2014,72.000 Km,Medellín - Antioquia,Jeep,Grand,2149664676

In [16]:
final_data.sort_values(by=['product', 'kilometraje'])

,product,price,link,years,kilometraje,locations,vehicle_make,vehicle_line
1369,Alfa Romeo Giulietta 1.4 Distinctive Mecánica,49000000,https://carro.mercadolibre.com.co/MCO-13822893...,2012,66.500 Km,Usaquén - Bogotá D.C.,Alfa,Romeo
1432,Alfa Romeo Giulietta 1.4 Distinctive Mecánica,49000000,https://carro.mercadolibre.com.co/MCO-13822893...,2012,66.500 Km,Usaquén - Bogotá D.C.,Alfa,Romeo
309,Alfa Romeo Giulietta 1.4 Distinctive Mecánica,54000000,https://carro.mercadolibre.com.co/MCO-21544055...,2012,77.000 Km,Suba - Bogotá D.C.,Alfa,Romeo
365,Alfa Romeo Giulietta 1.4 Distinctive Mecánica,54000000,https://carro.mercadolibre.com.co/MCO-21544055...,2012,77.000 Km,Suba - Bogotá D.C.,Alfa,Romeo
643,Alfa Romeo Mito 1.4 Distintive 2013,45000000,https://carro.mercadolibre.com.co/MCO-13778355...,2013,55.000 Km,Usaquén - Bogotá D.C.,Alfa,Romeo
...,...,...,...,...,...,...,...,...
1976,Volvo Xc90 2.5t Awd,56000000,https://carro.mercadolibre.com.co/MCO-21186935...,2007,104.258 Km,Puente Aranda - Bogotá D.C.,Volvo,Xc90
633,Zhidou D2s Electrico,49500000,https://carro.mercadolibre.com.co/MCO-13779053...,2022,18.900 Km,Suba - Bogotá D.C.,Zhidou,D2s
681,Zhidou D2s Electrico,49500000,https://carro.mercadolibre.com.co/MCO-13779053...,2022,18.900 Km,Suba - Bogotá D.C.,Zhidou,D2s
475,Zotye Nomada 1.6 Mt,27000000,https://carro.mercadolibre.com.co/MCO-21455155...,2008,33.500 Km,Suba - Bogotá D.C.,Zotye,Nomada
526,Zotye Nomada 1.6 Mt,27000000,https://carro.mercadolibre.com.co/MCO-21455155...,2008,33.500 Km,Suba - Bogotá D.C.,Zotye,Nomada

In [35]:
final_data.drop_duplicates(subset=['id'])

,product,price,link,years,kilometraje,locations,vehicle_make,vehicle_line,id
0,Bmw X3 2.0 F25 Xdrive20d Executive,96000000,https://carro.mercadolibre.com.co/MCO-13841684...,2015,18.500 Km,Usaquén - Bogotá D.C.,Bmw,X3,1384168441
1,Bmw X3 3.0 F25 Xdrive30d,126000000,https://carro.mercadolibre.com.co/MCO-13841918...,2017,14.000 Km,Usaquén - Bogotá D.C.,Bmw,X3,1384191887
2,Kia Carens 2.0 Rondo Ex,45000000,https://carro.mercadolibre.com.co/MCO-13841794...,2012,120.286 Km,Suba - Bogotá D.C.,Kia,Carens,1384179429
3,Nissan Kicks 1.6 Exclusive,74000000,https://carro.mercadolibre.com.co/MCO-21689481...,2018,60.658 Km,Chapinero - Bogotá D.C.,Nissan,Kicks,2168948126
4,Audi Q5 2.0 Tdi Quattro Ambition,230000000,https://carro.mercadolibre.com.co/MCO-13841910...,2022,5.481 Km,Usaquén - Bogotá D.C.,Audi,Q5,1384191031
...,...,...,...,...,...,...,...,...,...
1905,Renault Duster 2.0 Dynamique 4x4,70500000,https://carro.mercadolibre.com.co/MCO-13844484...,2019,66.000 Km,Fontibón - Bogotá D.C.,Renault,Duster,1384448483
1915,Toyota 4runner 4.0 Sr5,209999000,https://carro.mercadolibre.com.co/MCO-13843983...,2021,38.700 Km,Suba - Bogotá D.C.,Toyota,4runner,1384398351
1918,Mercedes-benz Clase Gla 200 1.6 Urban,110000000,https://carro.mercadolibre.com.co/MCO-21705879...,2020,54.200 Km,Usaquén - Bogotá D.C.,Mercedes-benz,Clase,2170587962
1925,Dodge Durango 3.6 Sxt 4x4,81000000,https://carro.mercadolibre.com.co/MCO-21705623...,2013,84.400 Km,Usaquén - Bogotá D.C.,Dodge,Durango,2170562326
1934,Renault Koleos 2.5 Dynamique,39000000,https://carro.mercadolibre.com.co/MCO-21705633...,2011,103.000 Km,Medellín - Antioquia,Renault,Koleos,2170563336