In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
from extract import get_data_from_api
from transform import transform_json_to_df

In [19]:
data_initial  = pd.read_csv('../data/raw/updated_data.csv', index_col=0)

In [20]:


print(data_initial.shape)
data_initial.head()

(2558, 11)

,product,price,link,years,kilometraje,vehicle_make,vehicle_line,id,location_city,location_state,_created
0,Bmw X3 2.0 F25 Xdrive20d Executive,96000000,https://carro.mercadolibre.com.co/MCO-13841684...,2015,18500,Bmw,X3,1384168441,Usaquén,Bogotá D.C.,2024-01-28 14:19:52
1,Bmw X3 3.0 F25 Xdrive30d,126000000,https://carro.mercadolibre.com.co/MCO-13841918...,2017,14000,Bmw,X3,1384191887,Usaquén,Bogotá D.C.,2024-01-28 14:19:52
2,Kia Carens 2.0 Rondo Ex,45000000,https://carro.mercadolibre.com.co/MCO-13841794...,2012,120286,Kia,Carens,1384179429,Suba,Bogotá D.C.,2024-01-28 14:19:52
3,Nissan Kicks 1.6 Exclusive,74000000,https://carro.mercadolibre.com.co/MCO-21689481...,2018,60658,Nissan,Kicks,2168948126,Chapinero,Bogotá D.C.,2024-01-28 14:19:52
4,Audi Q5 2.0 Tdi Quattro Ambition,230000000,https://carro.mercadolibre.com.co/MCO-13841910...,2022,5481,Audi,Q5,1384191031,Usaquén,Bogotá D.C.,2024-01-28 14:19:52

In [5]:
new_data = get_data_from_api()

In [6]:
new_data = transform_json_to_df(new_data)

In [7]:
final_data = pd.concat([data_initial,new_data])

In [8]:
final_data['id'] = final_data['id'].astype(int)

In [9]:
final_data['id'].value_counts()

id
1386098031    2
2180022630    2
1386081913    2
1386107179    2
1386091749    2
             ..
1382313777    1
1382276349    1
2159699840    1
2162822878    1
2181103404    1
Name: count, Length: 2558, dtype: int64

In [16]:
from datetime import datetime
now = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

In [12]:
final_data = final_data.drop_duplicates(subset=['id'])
final_data.reset_index(inplace=True, drop=True)

In [17]:
final_data['_created'] = now

In [18]:
final_data.to_csv('../data/raw/updated_data.csv')